@{
    ViewData["Title"] = "Client Message";
}
<div class=”text-center”>
    <h1 class=”display-4″>Welcome</h1>
    <div id="messageList"></div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Message.js"></script>
